/* * {
  margin: 0;
  padding: 0;
  
} */

body {
  height: 100%;
  margin: 0;
}

.parent-container {
  border: black solid 1px;
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
  justify-content: space-around;
  /* align-items: center; */
  max-width: 100%;
  /* min-width: 10rem; */

}

.parent-container > .individual-location {
  border: red solid 1px;
  display: flex;
  flex-direction: column;
  width: 10rem;
  /* justify-content: space-between; */
  /* margin: 1rem */
}